@model IEnumerable<MoviesViewModel>

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr class="text-light text-center">
                <th>
                    @Html.DisplayNameFor(model => model.Movie.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Movie.Runtime)
                </th>
                <th>
                    Availability
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                
                var hours = (int)movie.Movie.Runtime / 60;
                var minutes = movie.Movie.Runtime % 60;
                string runtime = $"{hours}hr{minutes}m";                
            <tr class="text-center">
                <td class="text-center">
                    @movie.Movie.Title
                </td>
                <td class="text-center">
                    @movie.Movie.Genre
                </td>
                <td>
                    @movie.Movie.Year
                </td>
                <td>
                    @runtime
                </td> 
                <td>
                    @if (movie.CheckedOutMovies == null)
                    {
                        @Html.ActionLink("Checkout", "Checkout", "Movie",
                       routeValues: new { movieId = movie.Movie.MovieId},
                       htmlAttributes: new { @class = "btn btn-dark"})
                    } else
                    {
                        <p class="text-danger"><b>Due back: @movie.CheckedOutMovies.DueDate.Date.ToShortDateString()</b></p>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
